{% extends 'base.html' %}

{% load static %}

{% block css_info %}

    <link rel="stylesheet" href="{% static 'horoscope/css/info.css' %}">

{% endblock %}


{% block title %}
    Гороскоп для {{sign|capfirst}}
{% endblock %}




{% block content %}
    {% include 'includes/navbar.html' %}
    <h2>Content from info_zodiakc.html</h2>
    {% if description_zodiak is None%}
        <h2> Неправильный знак зодиака {{ sign|upper }} </h2>
    {% else %}
        <h2> {{ description_zodiak|capfirst|safe }} </h2>
    {% endif %}
{% endblock %}

<!--    {% if my_list|length >= 3 %}-->
<!--        <p>Список из 3 и более элементов - {{my_list}}</p>-->
<!--    {% elif my_list|length == 0 %}-->
<!--        <p>Пустой список - {{my_list}}</p>-->
<!--    {% else %}-->
<!--        <p>Список менее чем из элементов - {{my_list}}</p>-->
<!--    {% endif %}-->

<!--    <p>Число {{my_int}}</p>-->
<!--    <p>Вещественое число {{my_float}}</p>-->
<!--    <p>Список {{my_list}}</p>-->
<!--    <p>Кортеж {{my_tuple}}</p>-->
<!--    <p>Словарь {{my_dict}}, ключ: {{my_dict.name}}</p>-->
<!--    <p>Экземпляр класса  {{my_class}} ему {{my_class.age}}</p>-->
